@model IQueryable<Patient>;  
  
@using NonFactors.Mvc.Grid;

@{
    ViewData["Title"] = "Patients Area";
}

<button class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Logout","Home")'">Logout</button>

<h1 class="mt-4">@ViewData["Title"]</h1>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id");
        columns.Add(model => model.FamilyName).Titled("FamilyName");
        columns.Add(model => model.GivenName).Titled("GivenName");
        columns.Add(model => model.LastSelectedDate).Titled("LastSelectedDate");
    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
)

<form asp-controller="PatientsArea" asp-action="PatientsArea" method="post" id="refreshGrid">
</form>

<script>
    setTimeout(function () {
        $("#refreshGrid").submit();
    }, 30000);

    function viewPatient(e)
    {
        window.location = '@Url.Action("Patient", "Patient")?id=' + e.detail.data.Id;
    }
</script>